
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$primary: #624099;
$pink: #D65DB1;
$rose: #FF6F91;
$orange: #FF9671;
$yellow: #F9F871;

$white: #fff;

$black: #4B4453;
$grey: #B0A8B9;

$light-grey: #D5CABD;
$light-primary:#C493FF;
$light-primary-alfa: hsla(267, 100%, 79%, 0.5);

$primary-font: 'Montserrat', sans-serif;
$header-font: 'Pacifico', sans-serif;

@mixin reset-selector {
    margin: 0;
    padding: 0;
}


*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    color: $white;

    background: rgba(98,64,153,.98);
    background: linear-gradient(90deg, rgba(98,64,153,.98) 42%, rgba(208,85,170,1) 100%),
                linear-gradient(to top, rgba(196, 147, 255, 1) 42%, rgba(249, 156, 178, 1) 100%);
}
