@import '../../../App.module.scss';

.navbar {
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1.4rem;
    font-weight: bold;

    background-image: linear-gradient(90deg, rgba(98,64,153,1) 42%, rgba(208,85,170,1) 100%);
}

.container {
    display: flex;
    margin: auto;
    padding: 0 2rem;
    justify-content: space-between;
    height: 5rem;
}

@mixin navLinks {
    list-style-type: none;
    margin: auto 0;
    display: flex;
    flex-wrap: nowrap;
    color: $white;

    @media (max-width: 768px){
        display: none;
    }

}

.navLinkStart {
    @include navLinks;
    padding-left: 0;
    justify-self: start;
}

.navLinkEnd {
    @include navLinks;
    justify-self: end;
}


.navbarItem {
    margin: auto 0 auto 15px;

    &:hover {
        border-bottom: 4px solid white;
        border-radius: 5%;
    }
}

.special {
    margin-left: 15px;
    padding: 11px;
    border: 4px solid $white;
    border-radius: 10%;
    
    &:hover {
        background: $white;
        color: $pink;
    }
}

.minlogo {
    
    margin: auto 0;

    @media (min-width: 769px){
        display: none;
    }
}

.burgerWrapper {
    margin: auto 0;

    @media (min-width: 769px){
        display: none;
    }
}

