@import '../../App.module.scss';


.container {
    @include reset-selector;
    background: $primary;
    background: linear-gradient(90deg, rgba(98,64,153,.98) 42%, rgba(208,85,170,1) 100%),
                linear-gradient(to top, rgba(196, 147, 255, 1) 42%, rgba(249, 156, 178, 1) 100%);
    height: inherit;
    padding-top: 40px;
    padding-bottom: 40px;
}