@import '../../../App.module.scss';
.wrapper {
    display: flex;
    justify-content: center;

    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_header {
    text-align: center;
}

.button {
    align-self: start;

    background: none;
    color: $white;
    text-decoration: none;
    font-family: $primary-font;
    font-size: 15px;
    border: 2px solid $white;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 25px;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 10px;

    &:hover {
        color: $light-primary;
        border-color: $light-primary;
        outline: none;
    }
}

.box {
    border: 5px solid $white;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
    padding: 20px; 


    display: flex;
    flex-direction: column;
    align-items: center;
}